<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593620206341-dikstvhl627kfh0kqk9hjqu0u978q87q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593620206341-dikstvhl627kfh0kqk9hjqu0u978q87q</string>
	<key>API_KEY</key>
	<string>AIzaSyALU36qxrpUmIEXsIaEw6BdrmIH1glxRbw</string>
	<key>GCM_SENDER_ID</key>
	<string>593620206341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myBusUserPanel</string>
	<key>PROJECT_ID</key>
	<string>mybus-94ae7</string>
	<key>STORAGE_BUCKET</key>
	<string>mybus-94ae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593620206341:ios:444e718211419df27c6d6c</string>
</dict>
</plist>